.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  .qsSection .answer {
    flex: 1 1 45% !important;
    font-weight: 500;
    font-size: 1rem;
  }